nav {
  background-color: #3499f1;
}
nav.top-nav {
  background: rgb(12, 12, 12);
  color: white;
}
.peragraph {
  margin: 0;
}
.main-nav {
  background: #3499f1;
  /* height: ;
  width: ; */
}
.main-section {
  height: 70vh;
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.cotact-area {
  position: relative;
  top: -30px;
}
.contact {
  font-size: 100px;
}
#contact-1 {
  color: #3499f1;
}
#contact-2 {
  color: white;
  font-size: 80px;
}
#contact-3 {
  color: white;
}
#contact-3-body {
  background-color: #0b0e38;
}
#contact-2-body {
  background-color: #3499f1;
}
.card-area {
  box-shadow: 1px 0px 18px #00000025;
}
.system-icons {
  font-size: 50px;
  margin: 0 0 15px 0;
  color: #3499f1;
}
.small-title {
  color: #3499f1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.system-des {
  line-height: 30px;
}
.service {
  background-color: #f7f7f7;
}
.service-icon {
  font-size: 100px;
  color: #3499f1;
}
.service-card {
  transition: 0.8s;
}
.service-card:hover {
  background: #3499f1;
  color: white;
}

.service-card:hover i {
  color: white;
}
h1.text-center.service-header::after {
  content: "";
  background-color: #e3e3e5;
  height: 6px;
  display: block;
  width: 239px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.portfolio {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.74),
      rgba(0, 0, 0, 0.74)
    ),
    url("images/image-2.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recent-project {
  background-color: #f7f7f7;
}

h1.recent-header::after {
  content: "";
  background-color: #e3e3e5;
  height: 6px;
  display: block;
  width: 260px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.card {
  border: none;
}
.contact-2-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 12px black;
}
.info{
    margin-top: 30px;
}
.info i {
  font-size: 50px;
  color: #3499f1;
  margin-bottom: 30px;
}
