* {
  padding: 0%;
  margin: 0%;
  font-family: "Lato", sans-serif;
}
nav {
  background-color: #3499f1;
}
nav.top-nav {
  background: #333333;
  color: white;
}
.peragraph {
  margin: 0;
}
.main-nav {
  background: #3499f1;
  /* height: ;
  width: ; */
}
.main-section {
  height: 70vh;
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.cotact-area {
  position: relative;
  top: -30px;
}
.contact {
  font-size: 100px;
}
#contact-1 {
  color: #3499f1;
}
#contact-2 {
  color: white;
  font-size: 80px;
}
#contact-3 {
  color: white;
}
#contact-3-body {
  background-color: #0b0e38;
}
#contact-2-body {
  background-color: #3499f1;
}
.card-area {
  box-shadow: 1px 0px 18px #00000025;
}
.system-icons {
  font-size: 50px;
  margin: 0 0 15px 0;
  color: #3499f1;
}
.small-title {
  color: #3499f1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.system-des {
  line-height: 30px;
}
.service {
  background-color: #f7f7f7;
}
.service-icon {
  font-size: 100px;
  color: #3499f1;
}
.service-card {
  transition: 0.3s;
}
.service-card:hover {
  background: #3499f1;
  color: white;
  box-shadow: 1px 1px 10px gray;
  transform: scale(1.02);
}

.service-card:hover i {
  color: white;
}
h1.text-center.service-header::after {
  content: "";
  background-color: #e3e3e5;
  height: 6px;
  display: block;
  width: 239px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.portfolio {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.74),
      rgba(0, 0, 0, 0.74)
    ),
    url("images/image-2.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project-card {
  transition: 0.3s;
}
.project-card:hover {
  box-shadow: 1px 1px 10px rgb(71, 71, 71);
  transform: scale(1.05);
}
.recent-project {
  background-color: #f7f7f7;
}

h1.recent-header::after {
  content: "";
  background-color: #e3e3e5;
  height: 6px;
  display: block;
  width: 260px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.card {
  border: none;
}
.contact-2-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 12px black;
}
.info {
  margin-top: 30px;
}
.info i {
  font-size: 50px;
  color: #3499f1;
  margin-bottom: 30px;
}
.clints-love {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.74),
      rgba(0, 0, 0, 0.74)
    ),
    url("images/image-2.jpg");
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.clint-content h1::after {
  content: "";
  background-color: #e3e3e5;
  height: 6px;
  display: block;
  width: 239px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.slide img {
  width: 150px;
  justify-content: center;
}
.review-card .card {
  background-color: rgb(255, 255, 255);
  border-top: 3px solid #3499f1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
  padding: 10px;
  position: relative;
  color: #797979;
  top: -100px;
}
.review-images {
  width: 100%;
  border-radius: 50%;
  transition: 0.5s;
}
.review-images:hover {
  transform: rotate(360deg);
}
.latest-news {
  background-color: #f7f7f7;
  padding: 4%;
}
.latest-news-header::after {
  content: "";
  background-color: #e3e3e5;
  height: 6px;
  display: block;
  width: 239px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.business-card {
  transition: 0.3s;
}
.business-card:hover {
  box-shadow: 1px 1px 10px rgb(138, 138, 138);
  transform: scale(1.02);
}
.business-card-small {
  letter-spacing: 2px;
  font-size: 20px;
}
.business-card-des {
  color: #797979;
}
.slide {
  float: left;
}

.left-arrow {
  font-size: 30px;
  color: white;
  background-color: #3499f1;
  padding: 5px;
}
.pre-footer {
  background-color: #131533;
  color: white;
}
.details-icon {
  color: #9999a1;
  font-size: 30px;
}
.details-text {
  color: #9999a1;
}
a.menu-items {
  display: block;
  line-height: 47px;
  color: #9999a1;
  text-decoration: none;
}
.post-line::after {
  content: "";
  background-color: #e3e3e5;
  height: 1px;
  display: block;
  width: 100%;
  margin: 2% 0 2% 5%;
}
/* .row.mail {
  border: 1px solid white;
  border-radius: 50px;
  background: white;
} */
.footer-header {
  margin-bottom: 25%;
}
input.email-box {
  border: none;
  border-radius: 50px;
  padding: 10px 37px;
  position: relative;
  background: none;
  border: 1px solid white;
  color: white;
}
button.rocket {
  border: none;
  background: none;
  color: gray;
  position: relative;
  left: 0px;
  padding: 10px;
  border-radius: 50%;
}
.social {
  font-size: 30px;
  color: #797979;
  transition: 0.3s;
}
.social:hover{
  transform: rotate(360deg);
}
.col-6.bottom-menu ul li {
  text-decoration: none;
  list-style: none;
  float: left;
  padding: 0 10px;
  text-align: center;
}
section.main-footer {
  color: #797979;
  background-color: #131533;
  border-top: 1px solid black;
  padding-top: 20px;
}
